.App {
  background-image: url("./assets/backkground.avif");
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1{
  font-size: 2em;
  font-weight: 600;
  text-shadow: 
  0 0 10px rgba(255, 255, 255, 0.9),
  0 0 20px rgba(255, 255, 255, 0.8),
  0 0 30px rgba(255, 255, 255, 0.7),
  0 0 40px rgba(255, 255, 255, 0.6),
  0 0 50px rgba(255, 255, 255, 0.5);
}

.table-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  display: table;
  width: 80vw;
  border-collapse: collapse;
}

.table-item {
  display: table-row;
  background-color: #ebebebb2;
}

.table-item > span {
  display: table-cell;
  padding: 8px;
  border: 1px solid #7e7e7e;
}

.table-header {
  display: table-row;
  background-color: #cbffe7;
  font-weight: bold;
}

.table-header > span {
  display: table-cell;
  padding: 8px;
  border: 1px solid #161616;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
